* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    background: url(https://i.pinimg.com/1200x/2b/c7/61/2bc761935beea3ed943fc3f9135430ee.jpg);
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
}

.my-loader {
  width: 200px;
  height: 200px;
  perspective: 500px;
  margin: 50px auto;
}

.rubiks-cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: my-rotateCube 7s infinite linear;
}

.my-loader .face {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.my-loader .face.front {
  transform: translateZ(100px);
}
.my-loader .face.back {
  transform: rotateY(180deg) translateZ(100px);
}
.my-loader .face.left {
  transform: rotateY(-90deg) translateZ(100px);
}
.my-loader .face.right {
  transform: rotateY(90deg) translateZ(100px);
}
.my-loader .face.top {
  transform: rotateX(90deg) translateZ(100px);
}
.my-loader .face.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.my-loader .cube {
  width: calc(100% / 3);
  height: calc(100% / 3);
  box-sizing: border-box;
  border: 1px solid #000;
}

@keyframes my-rotateCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    position: sticky;
    top: 0;
    
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.icons img {
    width: 28px;
    margin: 10px;
    transition: transform 0.3s;
}

.icons img:hover {
    transform: scale(1.2);
}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    background: white;
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn.outline {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.btn.small {
    padding: 8px 14px;
    font-size: 14px;
}

/* Ripple Effect */
.btn::after {
    content: "";
    position: absolute;
    background: white;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    transition: 0.5s;
}

.btn:active::after {
    width: 200px;
    height: 200px;
    opacity: 1;
    transform: scale(1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* PROJECTS */
.projects {
    padding: 80px 10%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}



/* ABOUT */
.circle-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover; 
}
.about-page {
    padding: 80px 10%;
    
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}




/* TOOLTIP STYLE */
.tooltip {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%) translateY(5px);
 
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
    white-space: nowrap;
}
.icon-wrapper {
    position: relative;
    display: inline-block;
}

/* SHOW ON HOVER */
.icon-wrapper:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.card-about {
  width: 900px;
  height: 500px;
  background: #15001f;
  border: 1px solid #c042ff;
  font-size: 16px;
  font-family: monospace;

  text-wrap: auto;
}

.titlebar {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 21px;
  font-weight: 450;
  background-color: #2e0043;
  width: 100%;
  text-align: right;
}

.card button {
  width: 40px;
  height: 40
  px;
  margin-left: -5px;
  border: 0;
  outline: 0;
  background: transparent;
  transition: 0.2s;
}

button svg path, 
button svg rect, 
button svg polygon {
  fill: black;
}

button svg {
  width: 10px;
  height: 10px;
}

.close:hover {
  background-color: #e81123;
}

.maximize:hover {
  background-color: #c042ff2e;
}

.minimize:hover {
  background-color: #c042ff2e;
}

#pre {
  overflow: auto;
  width: 100%;
  padding: 10px;
  height: auto;
  color: #bafff8;
}

.curlies {
  color: #ff0000;
}

.sc {
  color: #e600ff;
}

.rounds {
  color: #ffffff;
}

.operator {
  color: #ffff00;
}

.s1 {
  color: #22ff00;
}

.s2 {
  color: #4281ff;
}

.s3 {
  color: #ff4284;
}

.s4 {
  color: #ffae00;
}

.s5 {
  color: #ffffff;
}

.s6 {
  color: #ffff00;
}