.typewriter-wrapper {
  display: flex;
  justify-content: center;
}

.typewriter {
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  width: auto;
  display: inline-block;

  animation: typing 2s steps(15, end) forwards,
             blink 0.8s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 12ch}
}

@keyframes blink {
  40% { border-color: transparent }
}